<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="db.properties"/>
    <settings>
        <setting name="autoMappingBehavior" value="FULL"/>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.cj.pojo.User" alias="user"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${account}"/>
                <property name="password" value="${passwd}"/>
            </dataSource>
        </environment>
    </environments>

<!--    <mappers>-->
<!--        <mapper class="com.cj.dao.UserMapper"></mapper>-->
<!--    </mappers>-->

<!--    <mappers>-->
<!--        <package name="com.cj.dao"/>-->
<!--    </mappers>-->
    <mappers>
        <mapper resource="com/cj/dao/UserMapper.xml" />
    </mappers>
</configuration>